/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: #151515;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*::-moz-selection {
  background: #D93D4A;
}

*::selection {
  background: #D93D4A;
}

img {
  max-width: 100%;
}

img.large-image {
  width: 300px;
  height: auto;
}

a,
.link-style {
  color: #1F5B93;
  text-decoration: underline;
}

a:hover,
.link-style:hover {
  color: #164169;
  cursor: pointer;
}

h1 {
  font-size: 1.75rem;
  line-height: 123%;
  margin-bottom: 30px;
}

p {
  font-size: 1rem;
  line-height: 150%;
}

p.small {
  font-size: 0.8rem;
}

.hide {
  display: none;
  visibility: hidden;
}

button {
  background: #D93D4A;
  color: #fff;
  font-weight: bold;
  border-radius: 2px 0px;
  padding: 10px 50px;
  border: 0;
  cursor: pointer;
}

button .content {
  color: #fff;
  font-size: 1.5rem;
}

button:hover {
  background: #1F5B93;
}

input {
  padding: 10px 20px;
}

.wrap {
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 1000px) {
  .wrap {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.two-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px 20px;
  place-items: center;
}

.two-col img {
  width: 100%;
}

.four-image-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px;
}

.load-more-text > p {
  display: none;
}

.load-more-text > p.active {
  display: block;
}

.load-more-text .trigger {
  margin-top: 20px;
  display: block;
}

section {
  margin: 50px 0;
}

@media only screen and (min-width: 1000px) {
  section {
    margin: 75px 0;
  }
}

main > :last-child {
  margin-bottom: 0;
}

main > :first-child {
  margin-bottom: 0;
}

body {
  margin: 0;
  background: #fff;
  color: #151515;
  font-size: 15px;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  width: 100vw;
  overflow-x: hidden;
}

@media only screen and (min-width: 1000px) {
  body {
    font-size: 16px;
  }
}

body #root {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header" "content" "footer";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #root header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

body #root main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
  display: -ms-grid;
  display: grid;
  background: url(../images/wave.svg) center no-repeat fixed;
  background-size: cover;
  background-position: center;
  background-position-x: 0%;
}

body #root footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 20px;
}

header #logo {
  cursor: pointer;
}

header nav .hamburger-menu button {
  padding: 0;
  background: transparent;
}

header nav .hamburger-menu button:hover {
  background: transparent;
}

header nav .nav-menu-container--inner {
  padding: 50px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-menu-container--inner ul.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .nav-menu-container--inner ul.nav-menu li a {
  padding: 30px 0;
  display: block;
  text-align: center;
}

header nav .nav-menu-container--inner .social-media-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pushbar_overlay {
  background: #151515 !important;
  cursor: pointer;
}

#hero-section {
  background: url(../images/crop-hero-background.jpg) center no-repeat fixed;
  background-size: cover;
  height: 100%;
  height: 600px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  margin-top: 0;
}

@media only screen and (min-width: 1000px) {
  #hero-section {
    height: 100%;
    height: 400px;
    height: 50vh;
  }
}

#hero-section article {
  color: #fff;
}

#hero-section article h1 {
  color: #fff;
  text-align: left;
}

#hero-section article p {
  color: #fff;
}

.card-container--outer {
  background: #F6F6F6;
  -webkit-box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.09);
          box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.09);
  border-radius: 10px 0px;
  position: relative;
  padding: 10px;
  width: 200px;
  height: 200px;
}

.card-container--outer .card-icon {
  position: absolute;
  left: 50%;
  top: 32%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.card-container--outer .tooltip-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.card-container--outer .tooltip-icon:active {
  -webkit-box-shadow: 0px 0px 10px 10px white;
          box-shadow: 0px 0px 10px 10px white;
}

.card-container--outer .tooltip-text {
  display: none;
  position: relative;
  top: -40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
}

.card-container--outer .tooltip-text.visible {
  display: block;
}

.card-container--outer .tooltip-text::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  background: #fff;
  bottom: -45%;
  right: 5%;
  -webkit-transform: translateY(-55%) translateX(50%);
          transform: translateY(-55%) translateX(50%);
  z-index: 10;
  -webkit-clip-path: polygon(50% 100%, 0 50%, 100% 50%);
          clip-path: polygon(50% 100%, 0 50%, 100% 50%);
}

#card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: -100px;
}

#card-section .card-container--outer {
  margin: 20px 10px;
}

@media only screen and (min-width: 1000px) {
  #card-section {
    margin-top: -70px;
  }
}

#about-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cta-section {
  padding: 100px 0;
  background: url(../images/footer-pond-image.jpg) center no-repeat fixed;
  background-size: cover;
}

#cta-section p {
  color: #F6F6F6;
}

#cta-section form {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-columns: (minmax(50px, 250px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 250px));
}

footer {
  padding: 30px 0;
}
/*# sourceMappingURL=style.css.map */